body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

header {
    background-color: #2ecc71;
    color: white;
    text-align: center;
    padding: 20px 0;
    font-size: 24px;
    font-weight: bold;
}


#profil {
    display: flex;
    align-items: center;
    background: white;
    padding: 20px;
    margin: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

#profil img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin-right: 20px;
}

#profil p {
    font-size: 16px;
}

#keterampilan {
    background-color: #e3e3e3;
    padding: 20px;
    margin: 20px;
    border-radius: 8px;
}

#keterampilan h2 {
    font-size: 20px;
    font-weight: bold;
}

#keterampilan ul {
    list-style-type: disc;
    margin-left: 20px;
}

#keterampilan li {
    font-size: 18px;
    margin: 10px 0;
}

#pendidikan {
    background-color: #ffffff;
    padding: 20px;
    margin: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

#pendidikan h2 {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 15px;
}

/* Tabel */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

table, th, td {
    border: 1px solid #ccc;
    text-align: left;
    padding: 10px;
}

th {
    background-color: #2ecc71;
    color: white;
    font-weight: bold;
}

/* Bagian Kontak */
#kontak {
    background-color: #ddd;
    padding: 20px;
    margin: 20px;
    border-radius: 8px;
    text-align: center;
}

#kontak p {
    font-size: 16px;
    margin: 5px 0;
    font-weight: bold;
}